.au-body .health-card__title {
    color: #fff !important;
}
.au-body .health-card--colour-secondary a,
.au-body .health-card--colour-tertiary a {
  color: #fff;
}

.health-band.getting-started {
    margin-bottom: -2rem;
}
