$border-width: 3px;
$node-size: 22px;

.au-body .health-steps {
  
  // Reset list container
  ul {
    margin: 0;
    padding: 0;
    @include AU-space(margin-top, 1.5unit);
  }

  // Intro title and summary
  &__intro {}

  // Step item
  &__item {
    position: relative;
    margin-top: 0;
    list-style-type: none; // For <li> implementation

    // Last item
    &:last-child {
      .health-steps__item-content {
        &::before {
          display: none;
        }
      }
    }

    // Node
    &-indicator {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $node-size;
        height: $node-size;
        border: $border-width solid var(--step-border-colour);
        border-radius: 100%;

        @include AU-media('lg') {
          width: 48px;

          height: 48px;
          top: -4px;
        }
      }

      // 
      &::after {
        // @include font-size('md'); 
        counter-increment: step;
        content: counter(step);
        position: absolute;
        top: 1px;
        left: 0;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--step-border-colour);
        visibility: hidden;

        @include AU-media('lg') {
          width: 48px;
          height: 48px;
          top: -4px;
        }
      }
    }

    // Step content
    &-content {
      position: relative;
      padding: 4px 0 30px ($node-size*2);
      display: flex;
      flex-direction: column;
      @include AU-space(gap, 0.4unit);

      &::before {
        content: '';
        position: absolute;
        top: $node-size + $border-width;
        bottom: -($border-width+7);
        left: ($node-size/2)+2;
        width: $border-width;
        background-color: var(--step-border-colour);
      }
    }

    // Fields
    &-date {
      @include health-fontgrid(xs, default, light);
      color: var(--step-text-colour-minor); // TODO - replce with var
      margin: 0;
    }

    &-title {
      @include health-fontgrid(md);
      // @include AU-space(margin-bottom, 0.5unit);
      margin-top: -5px;
    }

    &-desc {
      // @include AU-space(margin-bottom, 1unit);
      margin: 0;
    }

    &-link {
    }

  }

  // Counter variant
  &--counter {
    .health-steps__item {
      &::after {
        visibility: visible;
      }
    }
  }

  // Filled variant
  &--fill {
    .health-steps__item {
      &::before {
        background-color: var(--step-border-colour);
      }

      &::after {
        color: var(--step-border-colour);
      }
    }
  }

  // Status variant
  &--status {
    .health-steps__item-indicator {
      // Variants here 
      &--complete {

      }
    }
  }

}